<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page</title>
</head>
<body>
    <details>what we offer

        <summary>we offer websites to be built from start to finsh and we also offer the skelton of some website or apps 
            <br> these can cost anywhere beetween €4k-10k for websites to be built from scrath
            <br> as for the other we would need to evalueate the cost and labour for the web app</summary>
    </details>
</body>
</html>